.btn {
	-fx-background-color: #717d7e;
	-fx-cursor: hand;
	-fx-text-fill: white;
}
.btn:hover {
	-fx-background-color:  #bfc9ca;
	-fx-text-fill: black;
	
}
#sendButton:hover {
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
#loginBtn:hover {
	-fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

.inp {
	-fx-background-color: #808b96;
}
.inp:hover { /*add: onfocus*/
	-fx-background-color: #d5d8dc;
	-fx-text-fill: black;
}

#messageLabel {
	-fx-font-size: 20px;
}
#cell {
	-fx-effect: dropshadow(gaussian, #283747, 20, 0, 10, 10);
}
#errorLabel {
	-fx-text-fill: red;
}